<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.zcy.rescue.passenger.dao.OrderMapper">
	<resultMap id="OrderResultMap" type="com.zcy.rescue.passenger.entity.Order"  >
        <result column="id" property="id"/>
        <result column="order_number" property="orderNumber"/>
        <result column="passenger_info_id" property="passengerInfoId"/>
        <result column="passenger_phone" property="passengerPhone"/>
        <result column="passenger_car_id" property="passengerCarId"/>
        <result column="passenger_plate_number" property="passengerPlateNumber"/>
        <result column="is_new_energy" property="isNewEnergy"/>
        <result column="rescue_server_id" property="rescueServerId"/>
        <result column="device_code" property="deviceCode"/>
        <result column="driver_id" property="driverId"/>
        <result column="driver_status" property="driverStatus"/>
        <result column="driver_phone" property="driverPhone"/>
        <result column="car_id" property="carId"/>
        <result column="plate_number" property="plateNumber"/>
        <result column="user_longitude" property="userLongitude"/>
        <result column="user_latitude" property="userLatitude"/>
        <result column="start_longitude" property="startLongitude"/>
        <result column="start_latitude" property="startLatitude"/>
        <result column="start_address" property="startAddress"/>
        <result column="end_address" property="endAddress"/>
        <result column="start_time" property="startTime"/>
        <result column="order_start_time" property="orderStartTime"/>
        <result column="end_longitude" property="endLongitude"/>
        <result column="end_latitude" property="endLatitude"/>
        <result column="driver_grab_time" property="driverGrabTime"/>
        <result column="driver_start_time" property="driverStartTime"/>
        <result column="driver_arrived_time" property="driverArrivedTime"/>
        <result column="pick_up_passenger_longitude" property="pickUpPassengerLongitude"/>
        <result column="pick_up_passenger_latitude" property="pickUpPassengerLatitude"/>
        <result column="pick_up_passenger_address" property="pickUpPassengerAddress"/>
        <result column="receive_passenger_time" property="receivePassengerTime"/>
        <result column="receive_passenger_longitude" property="receivePassengerLongitude"/>
        <result column="receive_passenger_latitude" property="receivePassengerLatitude"/>
        <result column="passenger_getoff_time" property="passengerGetoffTime"/>
        <result column="passenger_getoff_longitude" property="passengerGetoffLongitude"/>
        <result column="passenger_getoff_latitude" property="passengerGetoffLatitude"/>
        <result column="other_name" property="otherName"/>
        <result column="other_phone" property="otherPhone"/>
        <result column="order_type" property="orderType"/>
        <result column="service_type" property="serviceType"/>
        <result column="order_channel" property="orderChannel"/>
        <result column="status" property="status"/>
        <result column="transaction_id" property="transactionId"/>
        <result column="mapping_id" property="mappingId"/>
        <result column="mapping_number" property="mappingNumber"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="is_evaluate" property="isEvaluate"/>
        <result column="invoice_type" property="invoiceType"/>
        <result column="is_annotate" property="isAnnotate"/>
        <result column="source" property="source"/>
        <result column="use_coupon" property="useCoupon"/>
        <result column="cancel_order_type" property="cancelOrderType"/>
        <result column="pay_type" property="payType"/>
        <result column="is_paid" property="isPaid"/>
        <result column="is_cancel" property="isCancel"/>
        <result column="is_adjust" property="isAdjust"/>
        <result column="is_dissent" property="isDissent"/>
        <result column="is_manual" property="isManual"/>
        <result column="is_following" property="isFollowing"/>
        <result column="is_fake_success" property="isFakeSuccess"/>
        <result column="memo" property="memo"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="user_feature" property="userFeature"/>
	</resultMap>

	<sql id="columns">
		id,
		order_number,
		passenger_info_id,
		passenger_phone,
		passenger_car_id,
		passenger_plate_number,
		is_new_energy,
		rescue_server_id,
		device_code,
		driver_id,
		driver_status,
		driver_phone,
		car_id,
		plate_number,
		user_longitude,
		user_latitude,
		start_longitude,
		start_latitude,
		start_address,
		end_address,
		start_time,
		order_start_time,
		end_longitude,
		end_latitude,
		driver_grab_time,
		driver_start_time,
		driver_arrived_time,
		pick_up_passenger_longitude,
		pick_up_passenger_latitude,
		pick_up_passenger_address,
		receive_passenger_time,
		receive_passenger_longitude,
		receive_passenger_latitude,
		passenger_getoff_time,
		passenger_getoff_longitude,
		passenger_getoff_latitude,
		other_name,
		other_phone,
		order_type,
		service_type,
		order_channel,
		status,
		transaction_id,
		mapping_id,
		mapping_number,
		merchant_id,
		is_evaluate,
		invoice_type,
		is_annotate,
		source,
		use_coupon,
		cancel_order_type,
		pay_type,
		is_paid,
		is_cancel,
		is_adjust,
		is_dissent,
		is_manual,
		is_following,
		is_fake_success,
		memo,
		create_time,
		update_time,
		user_feature
	</sql>

	<select id="getByPrimaryKey" parameterType="com.zcy.rescue.passenger.entity.Order" resultMap="OrderResultMap">
      select
      <include refid="columns" />
      from  tbl_order
      where  
	        id = #{id} 
    </select>

    <update id="deleteToUpdate" parameterType="com.zcy.rescue.passenger.vo.OrderVO">
      update  tbl_order set delete_flag=1,update_id =#{updateId},update_name =#{updateName},update_time =#{updateTime} 
      where   id in 
		<foreach item="item" collection="idList" separator="," open="(" close=")" index="index"> 
			#{item}
		</foreach>
    </update>
	
    <update id="updateBatchStatus" parameterType="com.zcy.rescue.passenger.vo.OrderVO">
      update  tbl_order set status=#{status},update_id =#{updateId},update_name =#{updateName},update_time =#{updateTime} 
      where   id in 
		<foreach item="item" collection="idList" separator="," open="(" close=")" index="index"> 
			#{item}
		</foreach>
    </update>

	<insert id="insertBatch" parameterType="java.util.List">
		insert into  tbl_order (
        	id,
        	order_number,
        	passenger_info_id,
        	passenger_phone,
        	passenger_car_id,
        	passenger_plate_number,
        	is_new_energy,
        	rescue_server_id,
        	device_code,
        	driver_id,
        	driver_status,
        	driver_phone,
        	car_id,
        	plate_number,
        	user_longitude,
        	user_latitude,
        	start_longitude,
        	start_latitude,
        	start_address,
        	end_address,
        	start_time,
        	order_start_time,
        	end_longitude,
        	end_latitude,
        	driver_grab_time,
        	driver_start_time,
        	driver_arrived_time,
        	pick_up_passenger_longitude,
        	pick_up_passenger_latitude,
        	pick_up_passenger_address,
        	receive_passenger_time,
        	receive_passenger_longitude,
        	receive_passenger_latitude,
        	passenger_getoff_time,
        	passenger_getoff_longitude,
        	passenger_getoff_latitude,
        	other_name,
        	other_phone,
        	order_type,
        	service_type,
        	order_channel,
        	status,
        	transaction_id,
        	mapping_id,
        	mapping_number,
        	merchant_id,
        	is_evaluate,
        	invoice_type,
        	is_annotate,
        	source,
        	use_coupon,
        	cancel_order_type,
        	pay_type,
        	is_paid,
        	is_cancel,
        	is_adjust,
        	is_dissent,
        	is_manual,
        	is_following,
        	is_fake_success,
        	memo,
        	create_time,
        	update_time,
        	user_feature
		) values
		<foreach collection="list" item="p" index="index" separator=",">
			(
        	#{p.id} ,
        	#{p.orderNumber} ,
        	#{p.passengerInfoId} ,
        	#{p.passengerPhone} ,
        	#{p.passengerCarId} ,
        	#{p.passengerPlateNumber} ,
        	#{p.isNewEnergy} ,
        	#{p.rescueServerId} ,
        	#{p.deviceCode} ,
        	#{p.driverId} ,
        	#{p.driverStatus} ,
        	#{p.driverPhone} ,
        	#{p.carId} ,
        	#{p.plateNumber} ,
        	#{p.userLongitude} ,
        	#{p.userLatitude} ,
        	#{p.startLongitude} ,
        	#{p.startLatitude} ,
        	#{p.startAddress} ,
        	#{p.endAddress} ,
        	#{p.startTime} ,
        	#{p.orderStartTime} ,
        	#{p.endLongitude} ,
        	#{p.endLatitude} ,
        	#{p.driverGrabTime} ,
        	#{p.driverStartTime} ,
        	#{p.driverArrivedTime} ,
        	#{p.pickUpPassengerLongitude} ,
        	#{p.pickUpPassengerLatitude} ,
        	#{p.pickUpPassengerAddress} ,
        	#{p.receivePassengerTime} ,
        	#{p.receivePassengerLongitude} ,
        	#{p.receivePassengerLatitude} ,
        	#{p.passengerGetoffTime} ,
        	#{p.passengerGetoffLongitude} ,
        	#{p.passengerGetoffLatitude} ,
        	#{p.otherName} ,
        	#{p.otherPhone} ,
        	#{p.orderType} ,
        	#{p.serviceType} ,
        	#{p.orderChannel} ,
        	#{p.status} ,
        	#{p.transactionId} ,
        	#{p.mappingId} ,
        	#{p.mappingNumber} ,
        	#{p.merchantId} ,
        	#{p.isEvaluate} ,
        	#{p.invoiceType} ,
        	#{p.isAnnotate} ,
        	#{p.source} ,
        	#{p.useCoupon} ,
        	#{p.cancelOrderType} ,
        	#{p.payType} ,
        	#{p.isPaid} ,
        	#{p.isCancel} ,
        	#{p.isAdjust} ,
        	#{p.isDissent} ,
        	#{p.isManual} ,
        	#{p.isFollowing} ,
        	#{p.isFakeSuccess} ,
        	#{p.memo} ,
        	#{p.createTime} ,
        	#{p.updateTime} ,
        	#{p.userFeature} 
			)
		</foreach>

	</insert>

	<insert id="insertSelective" parameterType="com.zcy.rescue.passenger.entity.Order">
        insert into  tbl_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="id != null">
        	  id,
          </if>
          <if test="orderNumber != null">
        	  order_number,
          </if>
          <if test="passengerInfoId != null">
        	  passenger_info_id,
          </if>
          <if test="passengerPhone != null">
        	  passenger_phone,
          </if>
          <if test="passengerCarId != null">
        	  passenger_car_id,
          </if>
          <if test="passengerPlateNumber != null">
        	  passenger_plate_number,
          </if>
          <if test="isNewEnergy != null">
        	  is_new_energy,
          </if>
          <if test="rescueServerId != null">
        	  rescue_server_id,
          </if>
          <if test="deviceCode != null">
        	  device_code,
          </if>
          <if test="driverId != null">
        	  driver_id,
          </if>
          <if test="driverStatus != null">
        	  driver_status,
          </if>
          <if test="driverPhone != null">
        	  driver_phone,
          </if>
          <if test="carId != null">
        	  car_id,
          </if>
          <if test="plateNumber != null">
        	  plate_number,
          </if>
          <if test="userLongitude != null">
        	  user_longitude,
          </if>
          <if test="userLatitude != null">
        	  user_latitude,
          </if>
          <if test="startLongitude != null">
        	  start_longitude,
          </if>
          <if test="startLatitude != null">
        	  start_latitude,
          </if>
          <if test="startAddress != null">
        	  start_address,
          </if>
          <if test="endAddress != null">
        	  end_address,
          </if>
          <if test="startTime != null">
        	  start_time,
          </if>
          <if test="orderStartTime != null">
        	  order_start_time,
          </if>
          <if test="endLongitude != null">
        	  end_longitude,
          </if>
          <if test="endLatitude != null">
        	  end_latitude,
          </if>
          <if test="driverGrabTime != null">
        	  driver_grab_time,
          </if>
          <if test="driverStartTime != null">
        	  driver_start_time,
          </if>
          <if test="driverArrivedTime != null">
        	  driver_arrived_time,
          </if>
          <if test="pickUpPassengerLongitude != null">
        	  pick_up_passenger_longitude,
          </if>
          <if test="pickUpPassengerLatitude != null">
        	  pick_up_passenger_latitude,
          </if>
          <if test="pickUpPassengerAddress != null">
        	  pick_up_passenger_address,
          </if>
          <if test="receivePassengerTime != null">
        	  receive_passenger_time,
          </if>
          <if test="receivePassengerLongitude != null">
        	  receive_passenger_longitude,
          </if>
          <if test="receivePassengerLatitude != null">
        	  receive_passenger_latitude,
          </if>
          <if test="passengerGetoffTime != null">
        	  passenger_getoff_time,
          </if>
          <if test="passengerGetoffLongitude != null">
        	  passenger_getoff_longitude,
          </if>
          <if test="passengerGetoffLatitude != null">
        	  passenger_getoff_latitude,
          </if>
          <if test="otherName != null">
        	  other_name,
          </if>
          <if test="otherPhone != null">
        	  other_phone,
          </if>
          <if test="orderType != null">
        	  order_type,
          </if>
          <if test="serviceType != null">
        	  service_type,
          </if>
          <if test="orderChannel != null">
        	  order_channel,
          </if>
          <if test="status != null">
        	  status,
          </if>
          <if test="transactionId != null">
        	  transaction_id,
          </if>
          <if test="mappingId != null">
        	  mapping_id,
          </if>
          <if test="mappingNumber != null">
        	  mapping_number,
          </if>
          <if test="merchantId != null">
        	  merchant_id,
          </if>
          <if test="isEvaluate != null">
        	  is_evaluate,
          </if>
          <if test="invoiceType != null">
        	  invoice_type,
          </if>
          <if test="isAnnotate != null">
        	  is_annotate,
          </if>
          <if test="source != null">
        	  source,
          </if>
          <if test="useCoupon != null">
        	  use_coupon,
          </if>
          <if test="cancelOrderType != null">
        	  cancel_order_type,
          </if>
          <if test="payType != null">
        	  pay_type,
          </if>
          <if test="isPaid != null">
        	  is_paid,
          </if>
          <if test="isCancel != null">
        	  is_cancel,
          </if>
          <if test="isAdjust != null">
        	  is_adjust,
          </if>
          <if test="isDissent != null">
        	  is_dissent,
          </if>
          <if test="isManual != null">
        	  is_manual,
          </if>
          <if test="isFollowing != null">
        	  is_following,
          </if>
          <if test="isFakeSuccess != null">
        	  is_fake_success,
          </if>
          <if test="memo != null">
        	  memo,
          </if>
          <if test="createTime != null">
        	  create_time,
          </if>
          <if test="updateTime != null">
        	  update_time,
          </if>
          <if test="userFeature != null">
        	  user_feature,
          </if>
        </trim>
         values
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="id != null">
        	  #{id},
          </if>
          <if test="orderNumber != null">
        	  #{orderNumber},
          </if>
          <if test="passengerInfoId != null">
        	  #{passengerInfoId},
          </if>
          <if test="passengerPhone != null">
        	  #{passengerPhone},
          </if>
          <if test="passengerCarId != null">
        	  #{passengerCarId},
          </if>
          <if test="passengerPlateNumber != null">
        	  #{passengerPlateNumber},
          </if>
          <if test="isNewEnergy != null">
        	  #{isNewEnergy},
          </if>
          <if test="rescueServerId != null">
        	  #{rescueServerId},
          </if>
          <if test="deviceCode != null">
        	  #{deviceCode},
          </if>
          <if test="driverId != null">
        	  #{driverId},
          </if>
          <if test="driverStatus != null">
        	  #{driverStatus},
          </if>
          <if test="driverPhone != null">
        	  #{driverPhone},
          </if>
          <if test="carId != null">
        	  #{carId},
          </if>
          <if test="plateNumber != null">
        	  #{plateNumber},
          </if>
          <if test="userLongitude != null">
        	  #{userLongitude},
          </if>
          <if test="userLatitude != null">
        	  #{userLatitude},
          </if>
          <if test="startLongitude != null">
        	  #{startLongitude},
          </if>
          <if test="startLatitude != null">
        	  #{startLatitude},
          </if>
          <if test="startAddress != null">
        	  #{startAddress},
          </if>
          <if test="endAddress != null">
        	  #{endAddress},
          </if>
          <if test="startTime != null">
        	  #{startTime},
          </if>
          <if test="orderStartTime != null">
        	  #{orderStartTime},
          </if>
          <if test="endLongitude != null">
        	  #{endLongitude},
          </if>
          <if test="endLatitude != null">
        	  #{endLatitude},
          </if>
          <if test="driverGrabTime != null">
        	  #{driverGrabTime},
          </if>
          <if test="driverStartTime != null">
        	  #{driverStartTime},
          </if>
          <if test="driverArrivedTime != null">
        	  #{driverArrivedTime},
          </if>
          <if test="pickUpPassengerLongitude != null">
        	  #{pickUpPassengerLongitude},
          </if>
          <if test="pickUpPassengerLatitude != null">
        	  #{pickUpPassengerLatitude},
          </if>
          <if test="pickUpPassengerAddress != null">
        	  #{pickUpPassengerAddress},
          </if>
          <if test="receivePassengerTime != null">
        	  #{receivePassengerTime},
          </if>
          <if test="receivePassengerLongitude != null">
        	  #{receivePassengerLongitude},
          </if>
          <if test="receivePassengerLatitude != null">
        	  #{receivePassengerLatitude},
          </if>
          <if test="passengerGetoffTime != null">
        	  #{passengerGetoffTime},
          </if>
          <if test="passengerGetoffLongitude != null">
        	  #{passengerGetoffLongitude},
          </if>
          <if test="passengerGetoffLatitude != null">
        	  #{passengerGetoffLatitude},
          </if>
          <if test="otherName != null">
        	  #{otherName},
          </if>
          <if test="otherPhone != null">
        	  #{otherPhone},
          </if>
          <if test="orderType != null">
        	  #{orderType},
          </if>
          <if test="serviceType != null">
        	  #{serviceType},
          </if>
          <if test="orderChannel != null">
        	  #{orderChannel},
          </if>
          <if test="status != null">
        	  #{status},
          </if>
          <if test="transactionId != null">
        	  #{transactionId},
          </if>
          <if test="mappingId != null">
        	  #{mappingId},
          </if>
          <if test="mappingNumber != null">
        	  #{mappingNumber},
          </if>
          <if test="merchantId != null">
        	  #{merchantId},
          </if>
          <if test="isEvaluate != null">
        	  #{isEvaluate},
          </if>
          <if test="invoiceType != null">
        	  #{invoiceType},
          </if>
          <if test="isAnnotate != null">
        	  #{isAnnotate},
          </if>
          <if test="source != null">
        	  #{source},
          </if>
          <if test="useCoupon != null">
        	  #{useCoupon},
          </if>
          <if test="cancelOrderType != null">
        	  #{cancelOrderType},
          </if>
          <if test="payType != null">
        	  #{payType},
          </if>
          <if test="isPaid != null">
        	  #{isPaid},
          </if>
          <if test="isCancel != null">
        	  #{isCancel},
          </if>
          <if test="isAdjust != null">
        	  #{isAdjust},
          </if>
          <if test="isDissent != null">
        	  #{isDissent},
          </if>
          <if test="isManual != null">
        	  #{isManual},
          </if>
          <if test="isFollowing != null">
        	  #{isFollowing},
          </if>
          <if test="isFakeSuccess != null">
        	  #{isFakeSuccess},
          </if>
          <if test="memo != null">
        	  #{memo},
          </if>
          <if test="createTime != null">
        	  #{createTime},
          </if>
          <if test="updateTime != null">
        	  #{updateTime},
          </if>
          <if test="userFeature != null">
        	  #{userFeature},
          </if>
        </trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.zcy.rescue.passenger.entity.Order">
	  update  tbl_order
	  <set>
            <if test="id != null">
        	  id = #{id},
            </if>
            <if test="orderNumber != null">
        	  order_number = #{orderNumber},
            </if>
            <if test="passengerInfoId != null">
        	  passenger_info_id = #{passengerInfoId},
            </if>
            <if test="passengerPhone != null">
        	  passenger_phone = #{passengerPhone},
            </if>
            <if test="passengerCarId != null">
        	  passenger_car_id = #{passengerCarId},
            </if>
            <if test="passengerPlateNumber != null">
        	  passenger_plate_number = #{passengerPlateNumber},
            </if>
            <if test="isNewEnergy != null">
        	  is_new_energy = #{isNewEnergy},
            </if>
            <if test="rescueServerId != null">
        	  rescue_server_id = #{rescueServerId},
            </if>
            <if test="deviceCode != null">
        	  device_code = #{deviceCode},
            </if>
            <if test="driverId != null">
        	  driver_id = #{driverId},
            </if>
            <if test="driverStatus != null">
        	  driver_status = #{driverStatus},
            </if>
            <if test="driverPhone != null">
        	  driver_phone = #{driverPhone},
            </if>
            <if test="carId != null">
        	  car_id = #{carId},
            </if>
            <if test="plateNumber != null">
        	  plate_number = #{plateNumber},
            </if>
            <if test="userLongitude != null">
        	  user_longitude = #{userLongitude},
            </if>
            <if test="userLatitude != null">
        	  user_latitude = #{userLatitude},
            </if>
            <if test="startLongitude != null">
        	  start_longitude = #{startLongitude},
            </if>
            <if test="startLatitude != null">
        	  start_latitude = #{startLatitude},
            </if>
            <if test="startAddress != null">
        	  start_address = #{startAddress},
            </if>
            <if test="endAddress != null">
        	  end_address = #{endAddress},
            </if>
            <if test="startTime != null">
        	  start_time = #{startTime},
            </if>
            <if test="orderStartTime != null">
        	  order_start_time = #{orderStartTime},
            </if>
            <if test="endLongitude != null">
        	  end_longitude = #{endLongitude},
            </if>
            <if test="endLatitude != null">
        	  end_latitude = #{endLatitude},
            </if>
            <if test="driverGrabTime != null">
        	  driver_grab_time = #{driverGrabTime},
            </if>
            <if test="driverStartTime != null">
        	  driver_start_time = #{driverStartTime},
            </if>
            <if test="driverArrivedTime != null">
        	  driver_arrived_time = #{driverArrivedTime},
            </if>
            <if test="pickUpPassengerLongitude != null">
        	  pick_up_passenger_longitude = #{pickUpPassengerLongitude},
            </if>
            <if test="pickUpPassengerLatitude != null">
        	  pick_up_passenger_latitude = #{pickUpPassengerLatitude},
            </if>
            <if test="pickUpPassengerAddress != null">
        	  pick_up_passenger_address = #{pickUpPassengerAddress},
            </if>
            <if test="receivePassengerTime != null">
        	  receive_passenger_time = #{receivePassengerTime},
            </if>
            <if test="receivePassengerLongitude != null">
        	  receive_passenger_longitude = #{receivePassengerLongitude},
            </if>
            <if test="receivePassengerLatitude != null">
        	  receive_passenger_latitude = #{receivePassengerLatitude},
            </if>
            <if test="passengerGetoffTime != null">
        	  passenger_getoff_time = #{passengerGetoffTime},
            </if>
            <if test="passengerGetoffLongitude != null">
        	  passenger_getoff_longitude = #{passengerGetoffLongitude},
            </if>
            <if test="passengerGetoffLatitude != null">
        	  passenger_getoff_latitude = #{passengerGetoffLatitude},
            </if>
            <if test="otherName != null">
        	  other_name = #{otherName},
            </if>
            <if test="otherPhone != null">
        	  other_phone = #{otherPhone},
            </if>
            <if test="orderType != null">
        	  order_type = #{orderType},
            </if>
            <if test="serviceType != null">
        	  service_type = #{serviceType},
            </if>
            <if test="orderChannel != null">
        	  order_channel = #{orderChannel},
            </if>
            <if test="status != null">
        	  status = #{status},
            </if>
            <if test="transactionId != null">
        	  transaction_id = #{transactionId},
            </if>
            <if test="mappingId != null">
        	  mapping_id = #{mappingId},
            </if>
            <if test="mappingNumber != null">
        	  mapping_number = #{mappingNumber},
            </if>
            <if test="merchantId != null">
        	  merchant_id = #{merchantId},
            </if>
            <if test="isEvaluate != null">
        	  is_evaluate = #{isEvaluate},
            </if>
            <if test="invoiceType != null">
        	  invoice_type = #{invoiceType},
            </if>
            <if test="isAnnotate != null">
        	  is_annotate = #{isAnnotate},
            </if>
            <if test="source != null">
        	  source = #{source},
            </if>
            <if test="useCoupon != null">
        	  use_coupon = #{useCoupon},
            </if>
            <if test="cancelOrderType != null">
        	  cancel_order_type = #{cancelOrderType},
            </if>
            <if test="payType != null">
        	  pay_type = #{payType},
            </if>
            <if test="isPaid != null">
        	  is_paid = #{isPaid},
            </if>
            <if test="isCancel != null">
        	  is_cancel = #{isCancel},
            </if>
            <if test="isAdjust != null">
        	  is_adjust = #{isAdjust},
            </if>
            <if test="isDissent != null">
        	  is_dissent = #{isDissent},
            </if>
            <if test="isManual != null">
        	  is_manual = #{isManual},
            </if>
            <if test="isFollowing != null">
        	  is_following = #{isFollowing},
            </if>
            <if test="isFakeSuccess != null">
        	  is_fake_success = #{isFakeSuccess},
            </if>
            <if test="memo != null">
        	  memo = #{memo},
            </if>
            <if test="createTime != null">
        	  create_time = #{createTime},
            </if>
            <if test="updateTime != null">
        	  update_time = #{updateTime},
            </if>
            <if test="userFeature != null">
        	  user_feature = #{userFeature},
            </if>
	  </set>
	  where  
	        id = #{id} 
	</update>

	<select id="getList" resultMap="OrderResultMap"
  			parameterType="com.zcy.rescue.passenger.vo.OrderVO">
  	  select
  	  <include refid="columns" />
  	  from  tbl_order
  	  <include refid="QueryBean_Where" />
  	  order by
        <trim prefixOverrides=",">
            ,tbl_order.create_time  desc
        </trim>
	</select>

	<select id="getPage" resultMap="OrderResultMap"
  			parameterType="com.zcy.rescue.passenger.vo.OrderVO">
  	  select
  	  <include refid="columns" />
  	  from  tbl_order
  	  <include refid="QueryBean_Where" />
  	  order by
        <trim prefixOverrides=",">
            ,create_time  desc
        </trim>
  	  limit #{pageStart}, #{pageSize}
	</select>

	<select id="getCount" resultType="java.lang.Integer"
  			parameterType="com.zcy.rescue.passenger.vo.OrderVO">
  	  select count(1) from  tbl_order
  	  <include refid="QueryBean_Where" />
	</select>

	<sql id="QueryBean_Where">
		<where>

	       <if test="id !=null and id != ''">
				and id = #{id}
		   </if>
	       <if test="orderNumber !=null and orderNumber != ''">
				and order_number = #{orderNumber}
		   </if>
	       <if test="passengerInfoId !=null and passengerInfoId != ''">
				and passenger_info_id = #{passengerInfoId}
		   </if>
	       <if test="passengerPhone !=null and passengerPhone != ''">
				and passenger_phone = #{passengerPhone}
		   </if>
	       <if test="passengerCarId !=null and passengerCarId != ''">
				and passenger_car_id = #{passengerCarId}
		   </if>
	       <if test="passengerPlateNumber !=null and passengerPlateNumber != ''">
				and passenger_plate_number = #{passengerPlateNumber}
		   </if>
	       <if test="isNewEnergy !=null and isNewEnergy != ''">
				and is_new_energy = #{isNewEnergy}
		   </if>
	       <if test="rescueServerId !=null and rescueServerId != ''">
				and rescue_server_id = #{rescueServerId}
		   </if>
	       <if test="deviceCode !=null and deviceCode != ''">
				and device_code = #{deviceCode}
		   </if>
	       <if test="driverId !=null and driverId != ''">
				and driver_id = #{driverId}
		   </if>
	       <if test="driverStatus !=null and driverStatus != ''">
				and driver_status = #{driverStatus}
		   </if>
	       <if test="driverPhone !=null and driverPhone != ''">
				and driver_phone = #{driverPhone}
		   </if>
	       <if test="carId !=null and carId != ''">
				and car_id = #{carId}
		   </if>
	       <if test="plateNumber !=null and plateNumber != ''">
				and plate_number = #{plateNumber}
		   </if>
	       <if test="userLongitude !=null and userLongitude != ''">
				and user_longitude = #{userLongitude}
		   </if>
	       <if test="userLatitude !=null and userLatitude != ''">
				and user_latitude = #{userLatitude}
		   </if>
	       <if test="startLongitude !=null and startLongitude != ''">
				and start_longitude = #{startLongitude}
		   </if>
	       <if test="startLatitude !=null and startLatitude != ''">
				and start_latitude = #{startLatitude}
		   </if>
	       <if test="startAddress !=null and startAddress != ''">
				and start_address = #{startAddress}
		   </if>
	       <if test="endAddress !=null and endAddress != ''">
				and end_address = #{endAddress}
		   </if>
	       <if test="startTime !=null and startTime != ''">
				and start_time = #{startTime}
		   </if>
	       <if test="orderStartTime !=null and orderStartTime != ''">
				and order_start_time = #{orderStartTime}
		   </if>
	       <if test="endLongitude !=null and endLongitude != ''">
				and end_longitude = #{endLongitude}
		   </if>
	       <if test="endLatitude !=null and endLatitude != ''">
				and end_latitude = #{endLatitude}
		   </if>
	       <if test="driverGrabTime !=null and driverGrabTime != ''">
				and driver_grab_time = #{driverGrabTime}
		   </if>
	       <if test="driverStartTime !=null and driverStartTime != ''">
				and driver_start_time = #{driverStartTime}
		   </if>
	       <if test="driverArrivedTime !=null and driverArrivedTime != ''">
				and driver_arrived_time = #{driverArrivedTime}
		   </if>
	       <if test="pickUpPassengerLongitude !=null and pickUpPassengerLongitude != ''">
				and pick_up_passenger_longitude = #{pickUpPassengerLongitude}
		   </if>
	       <if test="pickUpPassengerLatitude !=null and pickUpPassengerLatitude != ''">
				and pick_up_passenger_latitude = #{pickUpPassengerLatitude}
		   </if>
	       <if test="pickUpPassengerAddress !=null and pickUpPassengerAddress != ''">
				and pick_up_passenger_address = #{pickUpPassengerAddress}
		   </if>
	       <if test="receivePassengerTime !=null and receivePassengerTime != ''">
				and receive_passenger_time = #{receivePassengerTime}
		   </if>
	       <if test="receivePassengerLongitude !=null and receivePassengerLongitude != ''">
				and receive_passenger_longitude = #{receivePassengerLongitude}
		   </if>
	       <if test="receivePassengerLatitude !=null and receivePassengerLatitude != ''">
				and receive_passenger_latitude = #{receivePassengerLatitude}
		   </if>
	       <if test="passengerGetoffTime !=null and passengerGetoffTime != ''">
				and passenger_getoff_time = #{passengerGetoffTime}
		   </if>
	       <if test="passengerGetoffLongitude !=null and passengerGetoffLongitude != ''">
				and passenger_getoff_longitude = #{passengerGetoffLongitude}
		   </if>
	       <if test="passengerGetoffLatitude !=null and passengerGetoffLatitude != ''">
				and passenger_getoff_latitude = #{passengerGetoffLatitude}
		   </if>
	       <if test="otherName !=null and otherName != ''">
				and other_name = #{otherName}
		   </if>
	       <if test="otherPhone !=null and otherPhone != ''">
				and other_phone = #{otherPhone}
		   </if>
	       <if test="orderType !=null and orderType != ''">
				and order_type = #{orderType}
		   </if>
	       <if test="serviceType !=null and serviceType != ''">
				and service_type = #{serviceType}
		   </if>
	       <if test="orderChannel !=null and orderChannel != ''">
				and order_channel = #{orderChannel}
		   </if>
	       <if test="status !=null and status != ''">
				and status = #{status}
		   </if>
	       <if test="transactionId !=null and transactionId != ''">
				and transaction_id = #{transactionId}
		   </if>
	       <if test="mappingId !=null and mappingId != ''">
				and mapping_id = #{mappingId}
		   </if>
	       <if test="mappingNumber !=null and mappingNumber != ''">
				and mapping_number = #{mappingNumber}
		   </if>
	       <if test="merchantId !=null and merchantId != ''">
				and merchant_id = #{merchantId}
		   </if>
	       <if test="isEvaluate !=null and isEvaluate != ''">
				and is_evaluate = #{isEvaluate}
		   </if>
	       <if test="invoiceType !=null and invoiceType != ''">
				and invoice_type = #{invoiceType}
		   </if>
	       <if test="isAnnotate !=null and isAnnotate != ''">
				and is_annotate = #{isAnnotate}
		   </if>
	       <if test="source !=null and source != ''">
				and source = #{source}
		   </if>
	       <if test="useCoupon !=null and useCoupon != ''">
				and use_coupon = #{useCoupon}
		   </if>
	       <if test="cancelOrderType !=null and cancelOrderType != ''">
				and cancel_order_type = #{cancelOrderType}
		   </if>
	       <if test="payType !=null and payType != ''">
				and pay_type = #{payType}
		   </if>
	       <if test="isPaid !=null and isPaid != ''">
				and is_paid = #{isPaid}
		   </if>
	       <if test="isCancel !=null and isCancel != ''">
				and is_cancel = #{isCancel}
		   </if>
	       <if test="isAdjust !=null and isAdjust != ''">
				and is_adjust = #{isAdjust}
		   </if>
	       <if test="isDissent !=null and isDissent != ''">
				and is_dissent = #{isDissent}
		   </if>
	       <if test="isManual !=null and isManual != ''">
				and is_manual = #{isManual}
		   </if>
	       <if test="isFollowing !=null and isFollowing != ''">
				and is_following = #{isFollowing}
		   </if>
	       <if test="isFakeSuccess !=null and isFakeSuccess != ''">
				and is_fake_success = #{isFakeSuccess}
		   </if>
	       <if test="memo !=null and memo != ''">
				and memo = #{memo}
		   </if>
	       <if test="createTime !=null and createTime != ''">
				and create_time = #{createTime}
		   </if>
	       <if test="updateTime !=null and updateTime != ''">
				and update_time = #{updateTime}
		   </if>
	       <if test="userFeature !=null and userFeature != ''">
				and user_feature = #{userFeature}
		   </if>
	       
			<if test="statusList != null and statusList.size > 0">
				and status in
				<foreach item="item" collection="statusList" separator="," open="(" close=")" index="index">
					#{item}
				</foreach>
			</if>
			<if test="idList != null and idList.size > 0">
				and id in
				<foreach item="item" collection="idList" separator="," open="(" close=")" index="index">
					#{item} 			
				</foreach>
			</if>



			<if test="nameLike != null and nameLike != ''">
				<![CDATA[ and name LIKE CONCAT('%', TRIM(#{nameLike}), '%')]]>
			</if>

			<if test="codeLike != null and codeLike != ''">
				<![CDATA[ and code LIKE CONCAT('%', TRIM(#{codeLike}), '%')]]>
			</if>
		</where>
	</sql>

</mapper>

