<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.zcy.rescue.passenger.dao.UserInfoRelationMapper">
	<resultMap id="UserInfoRelationResultMap" type="com.zcy.rescue.passenger.entity.UserInfoRelation"  >
        <result column="id" property="id"/>
        <result column="role_type" property="roleType"/>
        <result column="uid" property="uid"/>
        <result column="user_id" property="userId"/>
        <result column="enabled" property="enabled"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
	</resultMap>

	<sql id="columns">
		id,
		role_type,
		uid,
		user_id,
		enabled,
		create_time,
		update_time
	</sql>

	<select id="getByPrimaryKey" parameterType="com.zcy.rescue.passenger.entity.UserInfoRelation" resultMap="UserInfoRelationResultMap">
      select
      <include refid="columns" />
      from  tbl_user_info_relation
      where  
	        id = #{id} 
    </select>

    <update id="deleteToUpdate" parameterType="com.zcy.rescue.passenger.vo.UserInfoRelationVO">
      update  tbl_user_info_relation set delete_flag=1,update_id =#{updateId},update_name =#{updateName},update_time =#{updateTime} 
      where   id in 
		<foreach item="item" collection="idList" separator="," open="(" close=")" index="index"> 
			#{item}
		</foreach>
    </update>
	
    <update id="updateBatchStatus" parameterType="com.zcy.rescue.passenger.vo.UserInfoRelationVO">
      update  tbl_user_info_relation set status=#{status},update_id =#{updateId},update_name =#{updateName},update_time =#{updateTime} 
      where   id in 
		<foreach item="item" collection="idList" separator="," open="(" close=")" index="index"> 
			#{item}
		</foreach>
    </update>

	<insert id="insertBatch" parameterType="java.util.List">
		insert into  tbl_user_info_relation (
        	id,
        	role_type,
        	uid,
        	user_id,
        	enabled,
        	create_time,
        	update_time
		) values
		<foreach collection="list" item="p" index="index" separator=",">
			(
        	#{p.id} ,
        	#{p.roleType} ,
        	#{p.uid} ,
        	#{p.userId} ,
        	#{p.enabled} ,
        	#{p.createTime} ,
        	#{p.updateTime} 
			)
		</foreach>

	</insert>

	<insert id="insertSelective" parameterType="com.zcy.rescue.passenger.entity.UserInfoRelation">
        insert into  tbl_user_info_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="id != null">
        	  id,
          </if>
          <if test="roleType != null">
        	  role_type,
          </if>
          <if test="uid != null">
        	  uid,
          </if>
          <if test="userId != null">
        	  user_id,
          </if>
          <if test="enabled != null">
        	  enabled,
          </if>
          <if test="createTime != null">
        	  create_time,
          </if>
          <if test="updateTime != null">
        	  update_time,
          </if>
        </trim>
         values
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="id != null">
        	  #{id},
          </if>
          <if test="roleType != null">
        	  #{roleType},
          </if>
          <if test="uid != null">
        	  #{uid},
          </if>
          <if test="userId != null">
        	  #{userId},
          </if>
          <if test="enabled != null">
        	  #{enabled},
          </if>
          <if test="createTime != null">
        	  #{createTime},
          </if>
          <if test="updateTime != null">
        	  #{updateTime},
          </if>
        </trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.zcy.rescue.passenger.entity.UserInfoRelation">
	  update  tbl_user_info_relation
	  <set>
            <if test="id != null">
        	  id = #{id},
            </if>
            <if test="roleType != null">
        	  role_type = #{roleType},
            </if>
            <if test="uid != null">
        	  uid = #{uid},
            </if>
            <if test="userId != null">
        	  user_id = #{userId},
            </if>
            <if test="enabled != null">
        	  enabled = #{enabled},
            </if>
            <if test="createTime != null">
        	  create_time = #{createTime},
            </if>
            <if test="updateTime != null">
        	  update_time = #{updateTime},
            </if>
	  </set>
	  where  
	        id = #{id} 
	</update>

	<select id="getList" resultMap="UserInfoRelationResultMap"
  			parameterType="com.zcy.rescue.passenger.vo.UserInfoRelationVO">
  	  select
  	  <include refid="columns" />
  	  from  tbl_user_info_relation
  	  <include refid="QueryBean_Where" />
  	  order by
        <trim prefixOverrides=","> 
            ,tbl_user_info_relation.create_time  desc
        </trim>
	</select>

	<select id="getPage" resultMap="UserInfoRelationResultMap"
  			parameterType="com.zcy.rescue.passenger.vo.UserInfoRelationVO">
  	  select
  	  <include refid="columns" />
  	  from  tbl_user_info_relation
  	  <include refid="QueryBean_Where" />
  	  order by
        <trim prefixOverrides=","> 
            ,create_time  desc
        </trim>
  	  limit #{pageStart}, #{pageSize}
	</select>

	<select id="getCount" resultType="java.lang.Integer"
  			parameterType="com.zcy.rescue.passenger.vo.UserInfoRelationVO">
  	  select count(1) from  tbl_user_info_relation
  	  <include refid="QueryBean_Where" />
	</select>

	<sql id="QueryBean_Where">
		<where> 
	       <if test="id !=null and id != ''">
				and id = #{id}
		   </if>
	       <if test="roleType !=null and roleType != ''">
				and role_type = #{roleType}
		   </if>
	       <if test="uid !=null and uid != ''">
				and uid = #{uid}
		   </if>
	       <if test="userId !=null and userId != ''">
				and user_id = #{userId}
		   </if>
	       <if test="enabled !=null and enabled != ''">
				and enabled = #{enabled}
		   </if>
	       <if test="createTime !=null and createTime != ''">
				and create_time = #{createTime}
		   </if>
	       <if test="updateTime !=null and updateTime != ''">
				and update_time = #{updateTime}
		   </if>
	       
			<if test="statusList != null and statusList.size > 0">
				and status in
				<foreach item="item" collection="statusList" separator="," open="(" close=")" index="index">
					#{item}
				</foreach>
			</if>
			<if test="idList != null and idList.size > 0">
				and id in
				<foreach item="item" collection="idList" separator="," open="(" close=")" index="index">
					#{item} 			
				</foreach>
			</if>

			<if test="beginCreateTime != null and beginCreateTime != ''">
				<![CDATA[ and create_time >= #{beginCreateTime}]]>
			</if>
			<if test="endCreateTime != null and endCreateTime != ''">
				<![CDATA[ and create_time <=#{endCreateTime} ]]>
			</if>

			<if test="nameLike != null and nameLike != ''">
				<![CDATA[ and name LIKE CONCAT('%', TRIM(#{nameLike}), '%')]]>
			</if>

			<if test="codeLike != null and codeLike != ''">
				<![CDATA[ and code LIKE CONCAT('%', TRIM(#{codeLike}), '%')]]>
			</if>
		</where>
	</sql>

</mapper>

